@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .selected-worker {
    transform: rotate(45deg);
  }

  .active-project {
    background-color: #D1E8DD;
  }

  .active-project:hover {
    background-color: #B4D2C4;
  }

  .closed-project {
    background-color: rgb(249 250 251);
  }

  .closed-project:hover {
    background-color: rgb(243 244 246);
  }
}

@import url('./assets/fonts/fonts.css');

body {
  margin: 0;
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* all except the side menu */
#main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  
}

header {
  padding: 2.5rem 4rem;
}

/* content without the header and footer  */
#content {
  padding: 0rem 4rem 2.5rem;
}

#side-menu {
  padding: 3rem 2.5rem;
  width: 320px;
  justify-content: flex-start;
  background-color: #f9f9f9;
}

#award-bonus {
  width: 400px;
}

#account-settings {
  width: 800px;
}

#create-project {
  padding: 2.5rem 4rem 5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

#create-project-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.5rem;
  z-index: 999;
}

#not-found {
  background-image: url('../src/assets/404_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#loading{
  z-index: 999999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}