@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/fonts.css');

@layer utilities {
  .selected-worker {
    transform: rotate(45deg);
  }
}

body {
  margin: 0;
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* all except the side menu */
#main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  
}

header,
#create-project-header {
  padding: 2.5rem 4rem;
}

/* content without the header and footer  */
#content {
  padding: 0rem 4rem 2.5rem;
}

#side-menu {
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 3rem 2.5rem;
  width: 15%;
  min-width: 300px;
  background-color: #f9f9f9;
}

#create-project {
  padding: 2.5rem 4rem 5rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

#create-project-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1.5rem;
  z-index: 999;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}