@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/fonts.css');

body {
  margin: 0;
  font-family: 'Circular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* all except the side menu */
#main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  
}

header {
  padding: 2.5rem 4rem;
}

/* content without the header and footer  */
#content {
  padding: 0rem 4rem 2.5rem;
}

#side-menu {
  padding: 3rem 2.5rem;
  width: 320px;
  justify-content: flex-start;
  background-color: #f9f9f9;
}

#account-settings {
  width: 800px;
}